*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.activeness{
    left: 0;
    opacity: 1;
}

.container{
    width: 100%;
    height: 90vh;
    background-color: rgba(112, 11, 112, 0.966);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header1{
    width: 40%;
    padding-left: 100px;
    padding-top: 20px;
}

.header1 img{
    height: 100px;
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.header2{
    width: 50%;
}
.header2 ul{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 40px;
}

.header2 ul li{
    list-style-type: none;
}

.header2 ul .active{
    color: skyblue;
    font-weight: bold;
    /* border-bottom: 3px solid skyblue; */
}

.header2 ul li a{
    font-size: 18px;
    color: white;
    padding: 10px;
    transition: 2s all ease-in;
}

.header2 ul li a:hover{
    background-color: whitesmoke;
    color: black;
}

.head-content{
    display: flex;
    justify-content: space-between;
}

.content1{
    padding-top: 100px;
    padding-left: 50px;
    color: white;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 2s ease-in-out, opacity 3s ease-in-out;
}

section.activeness .content1{
    left: 0;
    opacity: 1;
}

.content1 h3{
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.content1 h1{
    padding-bottom: 25px;
    font-size: 40px;
}

.content1 h2{
    padding-bottom: 25px;
    font-size: 22px;
    text-align: center;
}

.btn{
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    background-color: white;
    color:  rgba(112, 11, 112, 0.966);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: 2s all linear;
    /* margin-left: 150px; */
}

.btn:hover{
    background-color: greenyellow;
    color: white;
}

.content1 a{
    margin-left: 150px;
}

.header-img{
    width: 40%;
    padding-top: 20px;
}
.header-img img{
    height: 350px;
    width: 400px;
    border-radius: 90%;
    transition: scale 3s ease-in-out;
}

.header-img img:hover{
    scale: 0.8;
}
span{
    color: rgba(112, 11, 112, 0.966);
}

/* Services */
.service-head{
    text-align: center;
    padding-top: 20px;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 2s ease-in-out, opacity 3s ease-in-out;
}

section.activeness .service-head{
    left: 0;
    opacity: 1;
}

.service-head h1{
    font-size: 40px;
}
.form{
    height: 900px;
    width: 90%;
    margin: 100px 5%;
    background-color: aliceblue;
    border-radius: 20px;
}

.form p{
    font-size: 24px;
    font-weight: bold;
    color: rgba(112, 11, 112, 0.966);
    padding: 50px 100px;
    text-align: center;
}

.form-content label{
    font-size: 30px;
    font-weight: bolder;
    color: rgba(112, 11, 112, 0.966);
    padding-left: 50px;
}

.form-content input{
    width: 50%;
    height: 50px;
    border-radius: 5px;   
    border: none;
    margin: 25px 200px;
}

.form-content input[type='date'],input[type='time']{
    width: 20%;
    margin: 20px 10px;
}

.form-content input:nth-of-type(5){
    margin: 20px 100px;
}

.form-content textarea{
    height: 100px;
    width: 50%;
    margin: 20px 200px;
}

/* Footer */

footer{
    width: 100%;
    height: 60vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    /* gap: 25px; */
    padding-top: 30px;
}

footer h2{
    color: rgba(112, 11, 112, 0.966);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 24%;
}
    
.logo1 img{
    height: 100px;
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.logo2{
    display: flex;
    gap: 30px;
    /* margin-left: -60px; */
}

.logo2 img{
    height: 50px;
    width: 50px;
}

.footer-links{
    width: 24%;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-links ul li{
    list-style: none;
}

.footer-links ul li a{
    color: black;
    font-size: 20px;
}
.footer-hours{
    width: 24%;
}

.footer-hours ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-hours ul li{
    list-style: none;
    font-size: 20px;
    color: black;
}

.footer-location{
    width: 24%;
}

.footer-location h2{
    text-align: start;
}

.footer-location img{
    height: 20px;
    width: 20px;
}

.location{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.location p{
    color: black;
    font-size: 20px;
}

.phone{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.phone p{
    color: black;
    font-size: 20px;
}

.mail{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.mail p{
    color: black;
    font-size: 20px;
}