*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 80vh;
    background-color: rgba(112, 11, 112, 0.966);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header1{
    width: 40%;
}

.header1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    padding-top: 20px;
}

.header2{
    width: 50%;
}

.header2 ul{
    padding-top: 40px;
}

.header2 ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.header2 ul li a{
    font-size: 18px;
    display: block;
    /* text-align: center; */
    color: white;
    padding: 10px 40px;
    transition: 2s all ease-in;
}

.dropdown li{
    display: block;
    width: 100%;
    text-align: center;
}

.dropdown{
    width: 100%;
    background-color: rgba(112, 11, 112, 0.966);
    position: absolute;
    z-index: 999;
    display: none;    
}

.header2 ul li:hover ul.dropdown{
    display: block;
    padding: 0;
}
.header2 ul li a:hover{
    background-color: whitesmoke;
    color: black;
}

.header2 ul .active{
    color: skyblue;
    font-weight: bold;
    /* border-bottom: 3px solid skyblue; */
}
.head-content{
    display: flex;
    justify-content: space-between;
}

.content1{
    padding-top: 150px;
    padding-left: 50px;
    color: white;
    opacity: 0;
    animation: slideIn 2s 3s forwards;
}

@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start from the left outside */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* End at normal position */
      opacity: 1;
    }
  }   


.content1 h3{
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.content1 h1{
    padding-bottom: 25px;
    font-size: 40px;
}

.content1 h2{
    padding-bottom: 25px;
    font-size: 22px;
    text-align: center;
}

.btn{
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    background-color: white;
    color:  rgba(112, 11, 112, 0.966);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    /* margin-left: 150px; */
}

.content1 a{
    margin-left: 150px;
}

.header-img{
    width: 40%;
    padding-top: 20px;
}
.header-img img{
    height: 350px;
    width: 400px;
    border-radius: 90%;
}

.line{
    height: 3px;
    width: 100px;
    background-color: greenyellow;
}

/* About Us */

.about{
    margin: 50px 0;
    height: 85vh;
    width: 100%;
    background-color: aliceblue;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.about-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
    opacity: 0;
    animation: slideIn 2s 3s forwards;
}

.about-head h1{
    font-size: 35px;
    font-weight: bold;
    color: greenyellow;
}

.about-content{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.content{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    margin-left: 20px;
    background-color: white;
}

.content h2{
    font-size: 35px;
}
.content p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.3;
}

.content-img{
    width: 28%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-left: 100px;
    margin-left: 100px;
}

.content-img img{
    height: 170px;
    width: 170px;
}

.content-img img:nth-child(1),:nth-child(4){
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
}

.content-img img:nth-child(2),:nth-child(3){
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

/* Services */

.services{
    width: 100%;
    height: 100vh;
}

.service-head{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    opacity: 0;
    animation: slideIn 2s 3s forwards;
}

.service-head h1{
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
}

.service-imgs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin: 50px 10%;
    position: relative;
}

.service-img img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.service-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.service-img h2{
    font-size: 30px;
    color: rgba(112, 11, 112, 0.966);
}

.service-img:nth-child(5){
    position: absolute;
    left: 300px;
    top: 300px;
}

.service-img:nth-child(6){
    position: absolute;
    left: 600px;
    top: 300px;
}

/* Follow */

.follow{
    width: 100%;
    height: 90vh;
    background-color: aliceblue;
    margin-top: 50px;
}

.follow-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    animation: slideIn 2s 3s forwards;
}

.follow-head h1{
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0;
}

.follow-head .line{
    background-color: greenyellow;
}

.follow h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.follow h3{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

.follow-imgs {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 50px 0;
}

.follow-imgs img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.follow .btn{
    margin: 0 45%;
    padding: 12px 20px;
    cursor: pointer;
    color: greenyellow;
}

/* Award */

.award{
    height: 90vh;
    width: 100%;
    margin: 50px 0;
}

.award-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    animation: slideIn 2s 3s forwards;
}

.award-head h1{
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
}

.award-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.award-img img{
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

/* Certification */

.certificate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.certificate img{
    width: 400px;
    height: 600px;
}

/* Footer */

footer{
    width: 100%;
    height: 60vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    /* gap: 25px; */
    padding-top: 30px;
}

footer h2{
    color: rgba(112, 11, 112, 0.966);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 24%;
}
    
.logo2{
    display: flex;
    gap: 30px;
    /* margin-left: -60px; */
}

.logo2 img{
    height: 50px;
    width: 50px;
}

.footer-links{
    width: 24%;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-links ul li{
    list-style: none;
}

.footer-links ul li a{
    color: black;
    font-size: 20px;
}
.footer-hours{
    width: 24%;
}

.footer-hours ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-hours ul li{
    list-style: none;
    font-size: 20px;
    color: black;
}

.footer-location{
    width: 24%;
}

.footer-location h2{
    text-align: start;
}

.footer-location img{
    height: 20px;
    width: 20px;
}

.location{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.location p{
    color: black;
    font-size: 20px;
}

.phone{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.phone p{
    color: black;
    font-size: 20px;
}

.mail{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.mail p{
    color: black;
    font-size: 20px;
}